
  /**me tira error, comando para resoluciones de celulares a tabeles**/

  @media(max-width:767px)
  {
      .resoluciont0m{
      display: none;
    }
.t20m {
    width: 20%;
}
.t40m{
    width: 40%;
  }
  .t60m{
    width: 60%;
  }
  .t80m{
    width: 80%;
  }
  .t100m{
      width: 100%;
}
}
  @media(min-width:768px) and (max-width:1024px){
    .resoluciont0Tablet{
        display: none;
      }
  .t20t {
      width: 20%;
  }
  .t40t{
      width: 40%;
    }
    .t60t{
      width: 60%;
    }
    .t80t{
      width: 80%;
    }
    .t100t{
        width: 100%;
  }
}

  /**@media(min-width:991px)
  {
  }
  /**