
.modal{
    width: 100%;
    height: 100vh;
    background: rgba(189, 186, 186, 0.8);  
position: absolute;
top: 0;
left: 0;

display: flex;

animation: modal 2s 3s forwards;

visibility: hidden;
opacity: 0;

}
.contenido {
  
margin: auto;
width: 40%;
height: 40%;
text-align: center;


}

#cerrar {
display: none;
}


#cerrar + label {
position: fixed;
color: #fff;
font-size: 25px;
z-index: 50;
background: darkred;
height: 40px;
width: 40px;
line-height: 40px;
border-radius: 50%;
right: 10px;
cursor: pointer;

animation: modal 2s 3s forwards;
visibility: hidden;
opacity: 0;

}

#cerrar:checked + label , #cerrar:checked ~ .modal{
display:none;
}
    
@keyframes modal {
 100%  {
visibility: visible;
opacity: 1;
}

}