
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
   
    
    .div1 { grid-area: 2 / 1 / 5 / 2;
height: 100px; /*altura */
width: 250px;  /* ancho*/
margin: auto;
    }
    .div2 { grid-area: 2 / 5 / 3 / 6;
    margin: 20px;
      

 
   
   
   
   }
    .div3 { grid-area: 3 / 5 / 5 / 6; 
        margin: auto
   }
   
  
   
   
.container-slider{
      
width:100%;
max-width: 750px; /* tamaño maximo que va tomar la imagen  */
margin: 0 auto;
overflow: hidden; /*para que no se vean las imagenes de atras */
box-shadow:0 0 0 1px #000000e5,  /*sombras y marco de las imagenes */
           0 15px 50px;
position: relative; /*botones de los costados */   }

   .slider{
display: flex;
width: 400%; /* mientras más imagenes lo unico que cambiamos es el ancho ej: si hay 5 son 500% etc.*/
height: 400px;
margin-left: -100%; /* para que la imagen empiece  desde la segunda hasta la primera  */
   }

.slider__section{
    width: 100%;


}
.slider__img{
display: block;
width:100%;
height: 100%;
object-fit: cover;
}

.slider__btn{ /*caracteristicas de los botones, no tocar   */
position: absolute;
width: 40px;
height: 40px;
background: rgb(255, 255, 255,0.7);
top: 50%;
transform: translateY(-50%);
font-size: 30px;
font-weight: bold;
font-family: monospace;
text-align: center;
border-radius: 50%;
cursor: pointer;
}

.slider__btn:hover{
background: #ffffffe5;
}
.slider__btn--left{
left: 10px;
}
.slider__btn--right{
right:10px ;
}
label{ 
    text-align: center
}
.modal{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0,0, 0.8);  
position: absolute;
top: 0;
left: 0;

display: flex;

animation: modal 2s 3s forwards;

visibility: hidden;
opacity: 0;

}
.contenido {
   
margin: auto;
width: 40%;
height: 40%;
background: white;
border-radius: 50%;


}

#cerrar {
display: none;
}


#cerrar + label {
position: fixed;
color: #fff;
font-size: 25px;
z-index: 50;
background: darkred;
height: 40px;
width: 40px;
line-height: 40px;
border-radius: 50%;
right: 10px;
cursor: pointer;

animation: modal 2s 3s forwards;
visibility: hidden;
opacity: 0;

}

#cerrar:checked + label , #cerrar:checked ~ .modal{
display:none;
}
    
@keyframes modal {
 100%  {
visibility: visible;
opacity: 1;
}

}


    